body {
    display: grid;
    justify-content: center;
    background-color: #db93dd;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ddbacf;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
#game_div
{
    justify-self: center;
    max-width: 70vw;
    max-height: 90vh;
    height: fit-content; 
    width: fit-content;

    overflow-x: auto;
    overflow-Y: auto;

    outline: 2px solid rgb(0, 0, 0);

}

td[data-mark='']:hover {background-color: rgb(190, 135, 228);}
td {
    height: 150px;
    width: 150px ;

    border-radius: 20px;
    background-color: #d8c1e6;
}
table{
    
    table-layout: fixed;
    width: fit-content;


    
    border-spacing: 15px;
    border-collapse:separate;
    background-color: rgb(193, 75, 230) ;
    border-color: transparent;
}
img {
    
    width: 100%;
    height: 100%;
}
.imogy{
    
    font-size: 40px;
    text-align: center;
    align-self: center;
    
}
h1{
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    
    
    color: black;
    -webkit-text-fill-color: rgb(193, 75, 230); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.divpoph1{
    
    text-align: center;
    align-self: center;
    -webkit-text-fill-color: rgb(114, 179, 123);
    
    
}
.flip{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);

}

.resault_div
{

   

    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 400px;
    height: 200px;

    display: none;
    
    border: black;
    border-style: solid;
    justify-content: center;
    
    background-color:rgba(243, 232, 255, 0.678);
    
/* so you can't select the text in the popup div:
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}
.hidebutton
{   position: absolute;
    display: inline-block;
    width: fit-content;
    height:fit-content;
    top:0%;
    left:0%;
    color: rgb(155, 0, 0);
}
#menu{
    text-align: center;    
}
.space{
    display: inline;
    width: 25px;
}
.otd{
    background-color: rgb(235, 183, 236);
}
.xtd{
    background-color: rgb(168, 191, 226);
}
.menubutton{
    
    /* CSS */

    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    border: black 1px solid;
}
    

.menubutton:hover {
  background-color: #a05d77;
}

.cred{
    font-family: cursive;
    display: inline;
    justify-self: right;
    bottom:0px;
    right: 2%;
}